* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

@font-face {
    font-family: pixelFont;
    src: url(3610-player-9-desktop.otf);
}

body {
    background-color: #20272c;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 5px auto;
    max-width: 1000px;
    background-color: #deb887;
    border: 5px solid #8b6914;
    box-shadow: 15px 15px 10px black;
    border-radius: 2%;
}

h1 {
    text-align: center;
    font-family: pixelFont;
    font-weight: 700;
    font-size: 50px;
    margin: 0 0 -5px 0;
    color: white;
}
h2 {
    text-align: center;
    font-family: pixelFont;
    font-size: 30px;
    color: white;
    margin:0 0 15px 0;
    padding: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

.left-aside {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-aside {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-aside div {
    background-image: url(sushi-roll-pixel-art.png);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
}

.right-aside div {
    background-image: url(nigiri-pixel-art.png);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
}


.game-state-header {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
}

.game-state-description-elem {
    display: inline-block;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    margin: 30px 0;
}
.next-game-btn {
    display: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    color: white;
    margin: 15px;
    background-color: #20272c;
    border: 3px solid dimgrey;
    border-radius: 5%;
}

.game-board-grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 8px solid black;
    background-image: url(grid-background.png);
    background-size: cover;
    box-shadow: 10px 10px 5px #433103;
}

.game-board-grid-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    transition: all 1s linear;
}

.scores-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

.scores-section h4 {
    text-align: center;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 17px;
}

.scores-section p {
    text-align: center;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
}

.game-buttons-footer {
    display: flex;
    justify-content: center;
}

.reset-game-btn {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 20px;
    background-color: #20272c;
    border: 3px solid dimgrey;
    color: white;
    border-radius: 5%;
}